<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Stock Price Table</key>
	<array>
		<integer>10</integer>
		<integer>20</integer>
		<integer>30</integer>
		<integer>40</integer>
		<integer>50</integer>
		<integer>60</integer>
		<integer>70</integer>
		<integer>80</integer>
		<integer>90</integer>
		<integer>100</integer>
		<integer>110</integer>
		<integer>120</integer>
		<integer>130</integer>
		<integer>140</integer>
		<integer>150</integer>
		<integer>165</integer>
		<integer>180</integer>
		<integer>195</integer>
		<integer>210</integer>
		<integer>230</integer>
		<integer>250</integer>
		<integer>270</integer>
		<integer>290</integer>
		<integer>310</integer>
		<integer>335</integer>
		<integer>360</integer>
		<integer>385</integer>
		<integer>410</integer>
		<integer>435</integer>
		<integer>460</integer>
		<integer>490</integer>
	</array>
	<key>Company Names</key>
	<dict>
		<key>FMS</key>
		<string>Ferrovie Meridionali Sarde</string>
		<key>RCSF</key>
		<string>Regia Compagnia delle Ferrovie della Sardegna</string>
		<key>SFSS</key>
		<string>Strade Ferrate Settentrionali Sarde</string>
		<key>FCS</key>
		<string>Ferrovie Complementari di Sardegna</string>
		<key>SFS</key>
		<string>Societá Italiana Strade Ferrate Secondarie della Sardegna</string>
		<key>FA</key>
		<string>Ferrovia degli Aranci</string>
		<key>CFC</key>
		<string>Chemin de fer Corse</string>
		<key>CFD</key>
		<string>Chemins de Fer Départementaux</string>
	</dict>
	<key>Dragon Chart</key>
	<dict>
		<key>1</key>
		<integer>4</integer>
		<key>2</key>
		<integer>6</integer>
		<key>3</key>
		<integer>8</integer>
		<key>4</key>
		<integer>10</integer>
		<key>5</key>
		<integer>12</integer>
		<key>6</key>
		<integer>14</integer>
	</dict>
	<key>Player Certificate Limit</key>
	<dict>
		<key>2</key>
		<integer>36</integer>
		<key>3</key>
		<integer>24</integer>
		<key>4</key>
		<integer>18</integer>
	</dict>
	<key>Player Certificate Limit Short Game</key>
	<dict>
		<key>2</key>
		<integer>27</integer>
		<key>3</key>
		<integer>18</integer>
	</dict>
	<key>Dragon Certificate Limit</key>
	<dict>
		<key>2</key>
		<integer>6</integer>
		<key>3</key>
		<integer>10</integer>
		<key>4</key>
		<integer>10</integer>
		<key>5</key>
		<integer>16</integer>
		<key>6</key>
		<integer>16</integer>
		<key>7</key>
		<integer>16</integer>
	</dict>
	<key>Trains</key>
	<dict>
		<key>Tech 2</key>
		<integer>5</integer>
		<key>Tech 2 Discount</key>
		<integer>1</integer>
		<key>Tech 3</key>
		<integer>4</integer>
		<key>Tech 3 Discount</key>
		<integer>1</integer>
		<key>Tech 4</key>
		<integer>3</integer>
		<key>Tech 4 Discount</key>
		<integer>1</integer>
		<key>Tech 5</key>
		<integer>2</integer>
		<key>Tech 5 Discount</key>
		<integer>0</integer>
		<key>Tech 6</key>
		<integer>3</integer>
		<key>Tech 6 Discount</key>
		<integer>0</integer>
		<key>Tech 7</key>
		<integer>14</integer>
		<key>Tech 7 Discount</key>
		<integer>0</integer>
	</dict>
	<key>Trains Short Game</key>
	<dict>
		<key>Tech 2</key>
		<integer>4</integer>
		<key>Tech 2 Discount</key>
		<integer>1</integer>
		<key>Tech 3</key>
		<integer>3</integer>
		<key>Tech 3 Discount</key>
		<integer>1</integer>
		<key>Tech 4</key>
		<integer>2</integer>
		<key>Tech 4 Discount</key>
		<integer>1</integer>
		<key>Tech 5</key>
		<integer>2</integer>
		<key>Tech 5 Discount</key>
		<integer>0</integer>
		<key>Tech 6</key>
		<integer>2</integer>
		<key>Tech 6 Discount</key>
		<integer>0</integer>
		<key>Tech 7</key>
		<integer>14</integer>
		<key>Tech 7 Discount</key>
		<integer>0</integer>
	</dict>
	<key>Train Spec</key>
	<dict>
		<key>2</key>
		<dict>
			<key>Cost</key>
			<integer>100</integer>
			<key>Capacity</key>
			<integer>8</integer>
			<key>Rusts At</key>
			<integer>4</integer>
			<key>Discount</key>
			<integer>30</integer>
		</dict>
		<key>3</key>
		<dict>
			<key>Cost</key>
			<integer>200</integer>
			<key>Capacity</key>
			<integer>14</integer>
			<key>Rusts At</key>
			<integer>6</integer>
			<key>Discount</key>
			<integer>40</integer>
		</dict>
		<key>4</key>
		<dict>
			<key>Cost</key>
			<integer>350</integer>
			<key>Capacity</key>
			<integer>20</integer>
			<key>Rusts At</key>
			<integer>7</integer>
			<key>Discount</key>
			<integer>50</integer>
		</dict>
		<key>5</key>
		<dict>
			<key>Cost</key>
			<integer>500</integer>
			<key>Capacity</key>
			<integer>25</integer>
			<key>Rusts At</key>
			<integer>100</integer>
			<key>Discount</key>
			<integer>0</integer>
		</dict>
		<key>6</key>
		<dict>
			<key>Cost</key>
			<integer>650</integer>
			<key>Capacity</key>
			<integer>30</integer>
			<key>Rusts At</key>
			<integer>100</integer>
			<key>Discount</key>
			<integer>0</integer>
		</dict>
		<key>7</key>
		<dict>
			<key>Cost</key>
			<integer>800</integer>
			<key>Capacity</key>
			<integer>35</integer>
			<key>Rusts At</key>
			<integer>100</integer>
			<key>Discount</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>Dragon Price Neutral</key>
	<dict>
		<key>10</key>
		<string>15</string>
		<key>20</key>
		<string>25</string>
		<key>30</key>
		<string>35</string>
		<key>40</key>
		<string>45</string>
		<key>50</key>
		<string>55</string>
		<key>60</key>
		<string>65</string>
		<key>70</key>
		<string>75</string>
		<key>80</key>
		<string>85</string>
		<key>90</key>
		<string>95</string>
		<key>100</key>
		<string>110</string>
		<key>110</key>
		<string>120</string>
		<key>120</key>
		<string>130</string>
		<key>130</key>
		<string>140</string>
		<key>140</key>
		<string>150</string>
		<key>150</key>
		<string>160</string>
		<key>165</key>
		<string>180</string>
		<key>180</key>
		<string>195</string>
		<key>195</key>
		<string>210</string>
		<key>210</key>
		<string>225</string>
		<key>230</key>
		<string>250</string>
		<key>250</key>
		<string>270</string>
		<key>270</key>
		<string>290</string>
		<key>290</key>
		<string>310</string>
		<key>310</key>
		<string>330</string>
		<key>335</key>
		<string>360</string>
		<key>360</key>
		<string>385</string>
		<key>385</key>
		<string>410</string>
		<key>410</key>
		<string>435</string>
		<key>435</key>
		<string>460</string>
		<key>460</key>
		<string>485</string>
		<key>490</key>
		<string>520</string>
	</dict>
	<key>Dragon Price Buy</key>
	<dict>
		<key>10</key>
		<string>20</string>
		<key>20</key>
		<string>30</string>
		<key>30</key>
		<string>40</string>
		<key>40</key>
		<string>60</string>
		<key>50</key>
		<string>70</string>
		<key>60</key>
		<string>80</string>
		<key>70</key>
		<string>90</string>
		<key>80</key>
		<string>100</string>
		<key>90</key>
		<string>110</string>
		<key>100</key>
		<string>130</string>
		<key>110</key>
		<string>140</string>
		<key>120</key>
		<string>150</string>
		<key>130</key>
		<string>160</string>
		<key>140</key>
		<string>170</string>
		<key>150</key>
		<string>180</string>
		<key>165</key>
		<string>200</string>
		<key>180</key>
		<string>215</string>
		<key>195</key>
		<string>230</string>
		<key>210</key>
		<string>245</string>
		<key>230</key>
		<string>270</string>
		<key>250</key>
		<string>290</string>
		<key>270</key>
		<string>310</string>
		<key>290</key>
		<string>330</string>
		<key>310</key>
		<string>350</string>
		<key>335</key>
		<string>380</string>
		<key>360</key>
		<string>405</string>
		<key>385</key>
		<string>430</string>
		<key>410</key>
		<string>455</string>
		<key>435</key>
		<string>480</string>
		<key>460</key>
		<string>505</string>
		<key>490</key>
		<string>540</string>
	</dict>
	<key>Train Limit</key>
	<dict>
		<key>2</key>
		<string>4</string>
		<key>3</key>
		<string>3</string>
		<key>4</key>
		<string>3</string>
		<key>5</key>
		<string>3</string>
		<key>6</key>
		<string>2</string>
		<key>7</key>
		<string>2</string>
	</dict>
	<key>Initial Stock Price Limit</key>
	<dict>
		<key>2</key>
		<string>100</string>
		<key>3</key>
		<string>130</string>
		<key>4</key>
		<string>130</string>
		<key>5</key>
		<string>150</string>
		<key>6</key>
		<string>150</string>
		<key>7</key>
		<string>150</string>
	</dict>
</dict>
</plist>
