<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Stock Price Table</key>
	<array>
		<integer>10</integer>
		<integer>20</integer>
		<integer>30</integer>
		<integer>40</integer>
		<integer>50</integer>
		<integer>60</integer>
		<integer>70</integer>
		<integer>80</integer>
		<integer>90</integer>
		<integer>100</integer>
		<integer>110</integer>
		<integer>120</integer>
		<integer>130</integer>
		<integer>140</integer>
		<integer>150</integer>
		<integer>165</integer>
		<integer>180</integer>
		<integer>195</integer>
		<integer>210</integer>
		<integer>230</integer>
		<integer>250</integer>
		<integer>270</integer>
		<integer>290</integer>
		<integer>310</integer>
		<integer>335</integer>
		<integer>360</integer>
		<integer>385</integer>
		<integer>410</integer>
		<integer>435</integer>
		<integer>460</integer>
		<integer>490</integer>
	</array>
	<key>Company Names</key>
	<dict>
		<key>FMS</key>
		<string>Ferrovie Meridionali Sarde</string>
		<key>RCSF</key>
		<string>Regia Compagnia delle Ferrovie della Sardegna</string>
		<key>SFSS</key>
		<string>Strade Ferrate Settentrionali Sarde</string>
		<key>FCS</key>
		<string>Ferrovie Complementari di Sardegna</string>
		<key>SFS</key>
		<string>Societá Italiana Strade Ferrate Secondarie della Sardegna</string>
		<key>FA</key>
		<string>Ferrovia degli Aranci</string>
		<key>CFC</key>
		<string>Chemin de fer Corse</string>
		<key>CFD</key>
		<string>Chemins de Fer Départementaux</string>
	</dict>
</dict>
</plist>
